@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 20px;
    font-family: fira sans;
    color: #3d373b;
    background-color: #e8e5d2;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color:#14120e;
    /* color:#8d624c; */
    color:#748341;
    font-weight: 500;
    line-height: 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .nav .logo-name img {
    margin-left: 50px;
    margin-top: 5px;
    height: 50px;
  }
  .nav .HUHU {
    padding-top: 9px;
    margin-right: 50px;
  }
  .nav .HUHU ul li{
    display:inline-block;
    font-size: 1.3em;
    justify-content: center;
    margin-right: 50px;
    text-align: center;
  }
  .nav .HUHU ul li:hover {
    color: #aea353;
    transform: scale(1.2);
    /* background-color: #51494e; */
  }

  .nav .HUHU ul li #button {
    background-color: #748341;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid;
    border-radius: 2rem;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #14120e;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .nav .HUHU ul li #button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background: linear-gradient(
      82.3deg,
      #6a2c0f,
      #283618
    );
    border-radius: 2rem;
    z-index: -1;
  }
  
  .nav .HUHU ul li #button:hover, button:focus {
    color: white;
  }
  
  .nav .HUHU ul li #button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  #front-page {
    width: 100%;
    height: 670px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(pictures/BG-Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* visibility: hidden; */
    /* position: absolute; */
  }
  
  #front-page h1 {
    font-size: 80px;
    -webkit-text-fill-color: #e6e6e6;
    ;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  
  #front-page p {
    font-size: 42px;
    font-family: comfortaa;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  
  #front-page img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  #front-page img:hover {
    transform: scale(1.5);
  }
  
   #about-me {
    height: 650px;
    width: 100%;
    background-image: url(pictures/profile.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    text-align: justify;
    display:inline-block;
    font-family: libre baskerville;
  }

  .bio {
    margin: 60px 40px;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    width: 40%;
    border-radius: 15px;  
  }

  .bio h1 {
    font-size: 45px;
  }
  .bio h5 {
    margin: 15px 0;
    font-weight: 400;
    line-height: 25px;
  }
  .bio p{
    font-size: 23px;
    line-height: 25px;
  }

#skills {
  display:flex;
  margin: 10px 0;
}

#skills #border2 {
  background-color: #e8e5d2;
  opacity: 0.7;
  background: repeating-linear-gradient( 45deg, #14120e, #14120e 4.5px, #e8e5d2 4.5px, #e8e5d2 22.5px );
  height: 50px;
  width: 50%;
  z-index: -1;
}
#skills #border1 {
  background-color: #e8e5d2;
  opacity: 0.7;
  background: repeating-linear-gradient( 45deg, #14120e, #14120e 4.5px, #e8e5d2 4.5px, #e8e5d2 22.5px );
  height: 50px;
  width: 8%;
  z-index: -1;
}
#skills #soft-ss {
  width: 42%;
  text-align: center;
  font-size: 56px;
  /* font-family: comfortaa; */
  font-weight: 700;
}

.comm-sheet .ful-bod {
  height: 550px;
  width: 25%;
  margin: 50px 0 0 60px;
  font-family: libre baskerville;
}
.comm-sheet {
  display:flex;
  flex-direction: row;
  padding-top: 10px;
  font-size: 32px;
  text-align: center;
}
.comm-sheet .prof {
  display:flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 40px;
  width: 25%;
}
.comm-sheet .prof img{
  height: 250px;
  width: 250px;
}
.comm-sheet .ful-bod img {
  height: 499px;
}
.comm-sheet .sheet1 {
  background-color: #aea353;
  width: 25%;
  height: 400px;
  border-radius: 40px;
  margin-left: 30px;
  margin-top:130px;
  padding: 40px 20px;
}
.comm-sheet .sheet1 ul li {
  margin: 10px;
  text-align: left;
  font-size: 18px;
}
.comm-sheet .sheet2 {
  background-color: #aea353;
  width: 25%;
  border-radius: 40px;
  height: 400px;
  margin-right: 60px;
  margin-top:130px;
  padding: 40px 20px;
}
.comm-sheet .sheet2 ul li {
  margin: 10px;
  text-align: left;
  font-size: 18px;
}

.comm-sheet2 {
  display:flex;
  flex-direction: row;
  padding-top: 10px;
  font-size: 32px;
  text-align: center; 
}
.comm-sheet2 .stylized {
  display:flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 40px;
  width: 25%;
}
.comm-sheet2 .semi-real {
  display:flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 105px;
  margin-right: 15px;
  width: 25%;
}
.comm-sheet2 .stylized img {
  height: 470px;
}
.comm-sheet2 .semi-real img {
  height: 375px;
}
.comm-sheet2 .sheet1 {
  background-color: #aea353;
  width: 25%;
  height: 400px;
  border-radius: 40px;
  margin-left: 15px;
  margin-top:130px;
  padding: 40px 20px;
}
.comm-sheet2 .sheet1 ul li {
  margin: 10px;
  text-align: left;
  font-size: 18px;
}
.comm-sheet2 .sheet2 {
  background-color: #aea353;
  width: 25%;
  border-radius: 40px;
  height: 400px;
  margin-right: 35px;
  margin-top:130px;
  padding: 40px 20px;
}
.comm-sheet2 .sheet2 ul li {
  margin: 10px;
  text-align: left;
  font-size: 18px;
}


#skill {
  display:flex;
  margin: 10px 0;
}

#skill #border2 {
  background-color: #e8e5d2;
  opacity: 0.7;
  background: repeating-linear-gradient( 45deg, #14120e, #14120e 4.5px, #e8e5d2 4.5px, #e8e5d2 22.5px );
  height: 50px;
  width: 30%;
  z-index: -1;
}
#skill #border1 {
  background-color: #e8e5d2;
  opacity: 0.7;
  background: repeating-linear-gradient( 45deg, #14120e, #14120e 4.5px, #e8e5d2 4.5px, #e8e5d2 22.5px );
  height: 50px;
  width: 30%;
  z-index: -1;
}
#skill #soft-ss {
  width: 40%;
  text-align: center;   
  font-size: 62px;
  /* font-family: comfortaa; */
  font-weight: 700;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
#gallery #notSQ{
  width: 350px;
  opacity: 85%;
  border-radius: 30px;
}
#gallery #SQ{
  width: 350px;
  height: 350px;
  opacity: 85%;
  border-radius: 40px;
}
#gallery #notSQ:hover{
  transform: scale(1.1);
  opacity: 100%;
}
#gallery #SQ:hover{
  transform: scale(1.1);
  opacity: 100%;
}

  .footer {
    padding: 50px;
    margin-top: 70px;
    text-align: center;
    background-color: #14120e;
  }
  .footer .comm-box h1{
    color: #748341;
  }

  .footer .comm-box .contact  input[type="text"] {
    color: #14120e;
    font-size: 18px;
    margin-left: 20px;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #748341;
  }
  .footer .comm-box .messg  input[type="text"] {
    color: #14120e;
    font-size: 18px;
    margin: 20px 0 0 20px ;
    width: 1025px;
    height: 200px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #748341;
  }
  .footer .comm-box input[type="button"] {
    color: #ecf0f1;
    padding: 10px;
    box-shadow: 0px 6px 0px #5f6d31;
    transition: all .1s;
    background-color: #748341;
    font-size: 18px;
    margin-left: 20px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #aea353;
  }
  .footer .comm-box input[type="button"]:active {
    box-shadow: 0px 2px 0px #5f6d31;
    position: relative;
    top: 2px;
   }

   .skil {
    display:flex;
    margin: 10px 0;
  }
  
  .skil #border1 {
    background-color: #e8e5d2;
    opacity: 0.7;
    background: repeating-linear-gradient( 45deg, #14120e, #14120e 4.5px, #e8e5d2 4.5px, #e8e5d2 22.5px );
    height: 50px;
    width: 50%;
    z-index: -1;
  }
  .skil #border2 {
    background-color: #e8e5d2;
    opacity: 0.7;
    background: repeating-linear-gradient( 45deg, #14120e, #14120e 4.5px, #e8e5d2 4.5px, #e8e5d2 22.5px );
    height: 40px;
    width: 20%;
    z-index: -1;
  }
  .skil #soft-ss {
    width: 30%;
    text-align: center;
    font-size: 56px;
    /* font-family: comfortaa; */
    font-weight: 700;
  }

  .texts {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  .texts .infos {
    width: 50%;
    margin: 50px 0 ;
    text-align: justify;
  }
  /* .texts .box { 
    margin: 50px 0;
    width: 35%;
    background-color: #6a2c0f;
  }
  .texts .box .box-top3 {
    display: flex;
  } */

  .nav .HUHU ul li a {
    text-decoration: none;
    color: #748341;
  }
  .nav .HUHU ul li a:hover {
    color: #aea353;
  }
 